<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <app-table-list class="col-md-12" [title]="'Usuarios'" [isMainTable]="true" [tableTitles]="tableTitles"
                [tableInfo]="tableInfo" [addButton]="'Agregar Cliente'" [redirectBtn]="'/user-profile'"
                [redirectRow]="'#/work-table-list'"></app-table-list>
            <!-- <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Historial</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <app-table-list [title]="'Trabajos Hechos'" [isMainTable]="true" [tableTitles]="tableTitles"
                                [tableInfo]="tableInfo"></app-table-list>

                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>